<section>
    <p>Hello, welcome to my little temporary website, heavily overengineered. </p>

    <p>While all of this site could have been a simple static site on any of the static site hosting providers, it is created in Elixir Phoenix Framework, built using Github Actions, and deployed with Docker in a VPC.</p>

    <p>You can find more about me at my <a href="https://github.com/dit7ya/">Github</a>.</p>
    <p>There is not much to see here. Maybe come back later?</p>
</section>

